@model TechnicalTestProject_1.Models.Winner

@{
    ViewData["Title"] = "Eliminar Ganador";
}

<h1>Eliminar Ganador</h1>

<h3>¿Seguro que quieres eliminar a este ganador?</h3>
<div>
    <h4>Ganador</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Lugar
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.place)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la Lista</a>
    </form>
</div>
