@{
    ViewData["Title"] = "Lista de Ganadores";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a la lista de ganadores</h1>
    <p>En esta lista podrás ver a los ganadores del concurso.</p> 
    <a href="/Winners">Ver Lista de Ganadores</a>
    <p class="developedBy">Desarrollado por - Oscar Alejandro Vitela Ramírez.</p>
</div>
